{% extends "base.html.jinja" %}

{% block content %}
{% if not root %}
<a href="{{ base }}index.html">Home</a> | <a href="../index.html">Go up</a>
{% endif %}
<h1>{{ title }}</h1>
{{ body | safe }}
{% endblock %}
